<template name="login">
  <div class="container login-bod">

    <div class="card">
      <div class="content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a href="#login">login</a>

              </li>
              <li class="tab col s6"><a class="active" href="#signup">Sign-Up</a></li>
            </ul>
          </div>

          <!-- start of login form -->
          <div id="login" class="col s12">
            <div class="container">
              <div class="formcls">
                <input type="text" placeholder="username" class="username" />
                <input type="password" placeholder="password" class="password" />
                <button class="login btn">login</button>
              </div>
            </div>
          </div>
          <!-- eof login form -->

          <!-- sign-up form -->
          <div id="signup" class="col s12">
            <div class="container">
              <div class="formcls">
                <input type="text" placeholder="username" class="username" />
                <input type="email" placeholder="email" class="username" />
                <input type="password" placeholder="password" class="password" />
                <button class="sign-up btn">Sign-up</button>
              </div>
            </div>
          </div>
          <!-- eof signup form -->

      </div>
    </div>
  </div>


</div>
</template>
